$color_card : rgb(228, 245, 245);
$color_column: rgba(240, 255, 255, 0.6);

$color_close: red;
$color_desktop : green;
$color_cube : red;
$color_mobile :rgb(255, 217, 0);
$color_icons : whitesmoke;

$radio_border : 15px;